.bookings-area {
  padding: 20px 60px;
  .bookings-bottom-area {
    margin-top: 50px;

    .order-list {
      margin: 30px 0;
      // overflow-y: scroll;
      // max-height: 200px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .bookings-area {
    .order-list {
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      ::-webkit-scrollbar-thumb {
        background-color: red; /* Color of the scrollbar thumb */
        border-radius: 10px; /* Rounded corners for the scrollbar thumb */
      }
    }
  }
}
