.search-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .search-input {
    transition: width 0.3s ease, opacity 0.3s ease;
    width: 0;
    opacity: 0;
    border: none;
    box-shadow: none;
  }
  .search-btn {
    background: none !important;
    border: none;
    box-shadow: none;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }

  &.expand {
    border: 0.5px solid #ccc;
    border-radius: 8px;
  }
}

@media only screen and (max-width: 768px) {
  .search-bar {
    .search-input {
      display: none;
    }
    .search-btn {
      display: none;
    }
  }
}
