.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;

  .appointment-btn {
    margin-left: 16px;
  }

  .header-left {
    .logo {
      display: flex;
      align-items: center;

      img {
        width: 300px;
        margin-right: 8px;
      }
    }
  }

  .header-right {
    display: flex;
    align-items: center;
    .icon-area {
      display: flex;
      gap: 15px;
      align-items: center;
    }
    .mobile-menu-area {
      .mobile-menu-btn {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .header {
    .header-middle {
      .desktop-menu {
        display: none;
      }
    }

    .header-right {
      .mobile-menu-area {
        .mobile-menu-btn {
          display: inline-block;
        }
      }
    }
  }
}
@media only screen and (max-width: 576px) {
  .header {
    .header-left {
      img {
        width: 100% !important;
      }
    }
  }
}
