:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ant-menu-item {
  color: #444 !important;
}
.ant-menu-item-selected {
  color: #ff3811 !important;
  &:hover::after {
    border-bottom-color: #ff3811 !important;
  }
  &::after {
    border-bottom-color: #ff3811 !important;
  }
}
.ant-menu-light.ant-menu-horizontal > .ant-menu-item:hover::after {
  border-bottom-color: #ff3811 !important;
}
.ant-menu-title-content {
  font-family: Inter;
}
.ant-btn-dashed {
  font-family: Inter;
  border-color: #ff3811;
  color: #ff3811;
  &:hover {
    border: 1px solid #ff3811 !important;
    color: #444 !important;
  }
}

/* ant design custom input field  */
.ant-input-outlined:hover {
  border-color: #ffb811;
}
.ant-input-outlined:focus {
  border-color: #ffb811;
}
.ant-input-outlined:focus-within {
  border-color: #ffb811;
  box-shadow: 0 0 0 2px rgba(255, 193, 5, 0.1);
}

.custom-btn {
  font-family: Inter;
  font-size: 16px;
  padding: 18px 15px;
  border: 1px dashed #ff3811;
  background-color: transparent;
  color: #ff3811;
  border-radius: 5px;
  &:hover {
    background-color: #ff3811 !important;
    color: #fff !important;
    border: 1px solid #ff3811 !important;
  }
}
.custom-btn-deep {
  font-family: Inter;
  font-size: 16px;
  padding: 19px 15px;
  background-color: #ff3811 !important;
  color: #fff !important;
  border-radius: 5px;
  border: 1px solid #ff3811;
  &:hover {
    border: 1px dashed #ff3811 !important;
    background-color: transparent !important;
    color: #ff3811 !important;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 45px;
  line-height: 1.1;
}
h2 {
  font-size: 20px;
  line-height: 1.1;
}
p {
  font-size: 16px;
  /* color: #737373; */
}

.custom-text-center-content {
  text-align: center;

  h2 {
    margin-top: 0;
    font-size: 20px;
    color: #ff3811;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 45px;
    color: #151515;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-transform: capitalize;
    width: 50%;
    margin: 0 auto;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
